body {
    background-color: #252121;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.wrapper {
    width: 250px;
    padding: 20px;
    background-color: #252121;
    border: 5px solid aqua;
    border-radius: 5px;
}

.counter {
    display: flex;
    font-size: 50px;
    font-weight: 600;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 5px;
}

.buttons {
    display: flex;
    border-radius: 5px;
    border: 5px solid aqua;
    margin-top: 25px;
    justify-content: space-around;
    padding: 15px;
}

.increment, .reset {
    background-color: aqua;
    width: 30%;
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.reset {
    width: 50%;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}
.red {
    color: red;
    transform: scale(1.5);
}